body {
  background-image: url(../img/background.png);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleSection p {
  color: rgb(151, 64, 14);
  background-color: blanchedalmond;
  border-radius: 5px;
  border: 2px solid white;
  text-align: center;
  padding: 0.5em;
  width: 80%;
}

.credit {
  color: rgb(151, 64, 14);
  text-shadow: 2px 2px 2px white;
}

.player {
  background-image: url(../img/spritecatv2.png);
}

.player--up {
 background-image: url(../img/spritecatv2.png);
 
}

.player--left {
  background-image: url(../img/spritecatv2.png);
 }

.player--down {
  background-image: url(../img/spritecatv2.png);
 }

.row {
 display : flex;
}

.cell {
  width: 70px;
  height: 70px;
  background-color: white;
  border: 1px solid rgb(151, 64, 14);

}

.cell--target {
  background-image: url(../img/ball.png);
  background-repeat: no-repeat;
  background-position: center;

}