body {
  background-image: url(../img/background.png);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleSection p {
  color: rgb(151, 64, 14);
  background-color: blanchedalmond;
  border-radius: 5px;
  border: 2px solid white;
  text-align: center;
  padding: 0.5em;
  width: 80%;
}

.credit {
  color: rgb(151, 64, 14);
  text-shadow: 2px 2px 2px white;
}

.player {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 35px;
  border-color: transparent transparent transparent blue;
  margin: 20px;
}

.player--up {
 transform: rotate(-90deg);
}

.player--left {
  transform: rotate(-180deg);
 }

.player--down {
  transform: rotate(90deg);
 }

.bretzel .player {
  width: 28px;
  height: 32px;
  border: 0;
  background-image: url(../img/spritecatv2.png);
  background-position:0 -64px;
  transform: none;
}

.bretzel .player--left {
  background-position:0 -32px;
}
.bretzel .player--up {
  background-position:0 -96px;
}
.bretzel .player--down {
  background-position:0 0;
}

.row {
 display : flex;
}

.cell {
  width: 70px;
  height: 70px;
  background-color: white;
  border: 1px solid rgb(151, 64, 14);

}

.cell--target {
  background-image: url(../img/ball.png);
  background-repeat: no-repeat;
  background-position: center;

}

.--Victory {
  background-image: url(../img/spritecatvictory.png);
  background-repeat: no-repeat;
  background-position: center;
}